body{
background-color: rgb(27, 7, 82);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
table,th,td{
border: 2.5px darkred solid;
}   
table{
    margin: auto;
    width: 25%;
}
body{
    color:rgb(183, 0, 255)
}
nav{
    background-color: rgb(27, 7, 82);
    padding: 20px;
}
a{
    color: rgb(228, 108, 132);
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    
}
a:hover{
    background-color: black;
    color: aqua;
}